In [9]:
import pandas as pd
import numpy as np

In [12]:
data = pd.read_csv("movie_data.csv")
data.columns

Index(['color', 'director_name', 'num_critic_for_reviews', 'duration',
       'director_facebook_likes', 'actor_3_facebook_likes', 'actor_2_name',
       'actor_1_facebook_likes', 'gross', 'genres', 'actor_1_name',
       'movie_title', 'num_voted_users', 'cast_total_facebook_likes',
       'actor_3_name', 'facenumber_in_poster', 'plot_keywords',
       'movie_imdb_link', 'num_user_for_reviews', 'language', 'country',
       'content_rating', 'budget', 'title_year', 'actor_2_facebook_likes',
       'imdb_score', 'aspect_ratio', 'movie_facebook_likes'],
      dtype='object')

In [7]:
sel_data = data.loc[:,['actor_1_name','actor_2_name','actor_3_name','director_name','genres','movie_title']]
sel_data.head()

,actor_1_name,actor_2_name,actor_3_name,director_name,genres,movie_title
0,CCH Pounder,Joel David Moore,Wes Studi,James Cameron,Action|Adventure|Fantasy|Sci-Fi,Avatar
1,Johnny Depp,Orlando Bloom,Jack Davenport,Gore Verbinski,Action|Adventure|Fantasy,Pirates of the Caribbean: At World's End
2,Christoph Waltz,Rory Kinnear,Stephanie Sigman,Sam Mendes,Action|Adventure|Thriller,Spectre
3,Tom Hardy,Christian Bale,Joseph Gordon-Levitt,Christopher Nolan,Action|Thriller,The Dark Knight Rises
4,Doug Walker,Rob Walker,NaN,Doug Walker,Documentary,Star Wars: Episode VII - The Force Awakens ...

In [8]:
sel_data.isnull().sum()

actor_1_name       7
actor_2_name      13
actor_3_name      23
director_name    104
genres             0
movie_title        0
dtype: int64

In [13]:
sel_data['actor_1_name'] = sel_data['actor_1_name'].replace(np.nan, 'unknown')
sel_data['actor_2_name'] = sel_data['actor_2_name'].replace(np.nan, 'unknown')
sel_data['actor_3_name'] = sel_data['actor_3_name'].replace(np.nan, 'unknown')
sel_data['director_name'] = sel_data['director_name'].replace(np.nan, 'unknown')

In [14]:
sel_data.isnull().sum()

actor_1_name     0
actor_2_name     0
actor_3_name     0
director_name    0
genres           0
movie_title      0
dtype: int64

In [27]:
sel_data['genres'] = sel_data['genres'].str.replace('|',' ')

In [28]:
sel_data.genres[1]

'Action Adventure Fantasy'

In [16]:
sel_data['movie_title'] = sel_data['movie_title'].str.lower()

In [32]:
sel_data['movie_title'] = sel_data['movie_title'].str[:-1]
sel_data['movie_title'][2]

'spectre'

In [33]:
sel_data.head()

,actor_1_name,actor_2_name,actor_3_name,director_name,genres,movie_title
0,CCH Pounder,Joel David Moore,Wes Studi,James Cameron,Action Adventure Fantasy Sci-Fi,avatar
1,Johnny Depp,Orlando Bloom,Jack Davenport,Gore Verbinski,Action Adventure Fantasy,pirates of the caribbean: at world's end
2,Christoph Waltz,Rory Kinnear,Stephanie Sigman,Sam Mendes,Action Adventure Thriller,spectre
3,Tom Hardy,Christian Bale,Joseph Gordon-Levitt,Christopher Nolan,Action Thriller,the dark knight rises
4,Doug Walker,Rob Walker,unknown,Doug Walker,Documentary,star wars: episode vii - the force awakens ...

In [34]:
sel_data.to_csv('clean_data.csv', index=False)

In [35]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [37]:
data = pd.read_csv('clean_data.csv')

In [38]:
data['comb'] = data['actor_1_name'] + ' ' + data['actor_2_name'] + ' '+ data['actor_3_name'] + ' '+ data['director_name'] +' ' + data['genres']

In [39]:
data.head()

,actor_1_name,actor_2_name,actor_3_name,director_name,genres,movie_title,comb
0,CCH Pounder,Joel David Moore,Wes Studi,James Cameron,Action Adventure Fantasy Sci-Fi,avatar,CCH Pounder Joel David Moore Wes Studi James C...
1,Johnny Depp,Orlando Bloom,Jack Davenport,Gore Verbinski,Action Adventure Fantasy,pirates of the caribbean: at world's end,Johnny Depp Orlando Bloom Jack Davenport Gore ...
2,Christoph Waltz,Rory Kinnear,Stephanie Sigman,Sam Mendes,Action Adventure Thriller,spectre,Christoph Waltz Rory Kinnear Stephanie Sigman ...
3,Tom Hardy,Christian Bale,Joseph Gordon-Levitt,Christopher Nolan,Action Thriller,the dark knight rises,Tom Hardy Christian Bale Joseph Gordon-Levitt ...
4,Doug Walker,Rob Walker,unknown,Doug Walker,Documentary,star wars: episode vii - the force awakens ...,Doug Walker Rob Walker unknown Doug Walker Doc...

In [40]:
# creating a count matrix
cv = CountVectorizer()
count_matrix = cv.fit_transform(data['comb'])

# creating a similarity score matrix
sim = cosine_similarity(count_matrix)

# saving the similarity score matrix in a file for later use
np.save('similarity_matrix', sim)

# saving dataframe to csv for later use in main file
data.to_csv('data.csv',index=False)